certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
darkdetect==0.8.0
idna==3.11
loguru==0.7.3
packaging==25.0
pip-review==1.3.0
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
pywin32==311
requests==2.32.5
RinUI==0.1.9.1
shiboken6==6.10.1
urllib3==2.6.2
win32_setctime==1.2.0
