altgraph==0.17.5
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
darkdetect==0.8.0
idna==3.11
loguru==0.7.3
packaging==25.0
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pyside6==6.10.1
pyside6-addons==6.10.1
pyside6-essentials==6.10.1
requests==2.32.5
rinui==0.1.9.1
setuptools==80.9.0
shiboken6==6.10.1
urllib3==2.6.2
win32-setctime==1.2.0
